

<div class="margen">
 <section id="contact" class="contact section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center pb-5">
            <h2>¿Tienes alguna pregunta? ¡Contáctanos!</h2>
          </div>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-md-12 p-0 pt-4 pb-4">
          <form action="#" class="bg-light p-4.m-auto"><div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <input type="text" class="form-control" required placeholder="Nombre completo">
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <input type="email" class="form-control" required placeholder="Correo electronico">
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <textarea rows="10" required class="form-control" placeholder="haga su pregunta" ></textarea>
              </div>
            </div>
          <button class="btn btn-warning btn-lg btn-block mt-3">Enviar</button>
          </div></form>
        </div>
      </div>
    </div>
  </section>
</div>
